*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
}



.heading{
    background-color: blue;
    height: 50px;
    line-height: 50px;
    display: flex;
    list-style: none;
    position: relative;
    gap: 20px;
    color: white;
    font-size: 35px;
    background-color: rgb(11, 2, 2);
    padding-left: 30px;
}
.heading li:nth-child(5){
    margin-left: -30px;
}



.selector{
    position: absolute;
    font-size: 18px;
    list-style: none;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0px black;
    opacity: 0;
    transition: 0.5s ease-in-out;
    visibility: hidden;


    
}

.selector li{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(249, 244, 244);
    color: black;
    box-shadow: 0px 0px 10px 0px rgb(22, 5, 5);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease-in-out;
}

.heading li:hover
.form{
    opacity: 1;
    visibility: visible;
}


.heading li:hover
.selector{
    opacity: 1;
    visibility: visible;
}

.selector li:hover{
    color:rgb(0, 0, 0);
    background-color: lightgrey;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px white;
}

.practice{
   display: flex;
   flex-direction: row-reverse;
}
.logo{
    width: 100px;
  margin-left: 50px;
   margin-top: 8px;
   margin-right: 400px;
   border-radius: 20px;
}
.practice h2{
    font-size: 25px;
    color: rgb(12, 13, 13);
   
   margin-left: 300px;
   margin-top: 70px;

}



.forms{
    margin: 2px;
background-color: rgb(245, 247, 243);
border-top: 2px solid rgb(68, 255, 0);
border-right: 2px solid rgb(10, 87, 252);
border-bottom: 2px solid rgb(12, 79, 204);
border-left: 2px solid rgb(255, 3, 221);
padding: 50px;
}

.container div h1{
    font-size: 60px;
    text-align: center;
    color: rgb(8, 126, 228);
    text-shadow: 0px 8px 5px rgb(14, 1, 1);
}

.head{
    font-size: 45px;
    text-align: center;
    color: rgb(247, 23, 79);
    text-shadow: 0px 5px 5px rgb(14, 1, 1);
}

.summary{
    text-align: center;
    margin-top: 20px;
    color: rgb(170, 228, 166);
    font-size: 25px;
    margin-bottom: 20px;
}

.Your{
    margin: 2px;
    background-color: rgb(76, 81, 86);
    font-size:120px;
    color: white;
    text-align: center;
    text-shadow: 0px 20px rgb(9, 9, 29);
}

.laptop{
    margin-top: 10px;
    margin-left: 4%;
    width: 200px;
    /* box-shadow: 0px 0px 10px 0px black; */
}

.lorem{
    margin: 2px;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    color: aliceblue;
    background-color: rgb(22, 45, 64);
}

.devided{
    
    margin: 20px 2px 2px 2px;
    border: 1px solid rgb(89, 25, 25);
    font-size: 30px;
    column-count: 5;
    column-rule: 1px dashed rgb(86, 31, 188);
    background-color: rgb(240, 234, 234);
    box-shadow: 0px 0px 5px 0px black;
  
}

.iphone{
    margin: 2px;
    width: auto;
    font-size: 50px;
    color: rgb(79, 119, 153);
}

.xs{
    width: 300px;
    margin: 0px 10px 0px 400px;
}

.kahe{
    width: 400px;
    margin: 20px 0px 70px 100px;

}
.overflow{
    font-size: 100px;
    text-align: center;
    text-shadow: 0px 2px 5px blue ;
}
.overflowimage{
    display: none;

}

.clients{
    font-size: 50px;
    font-style: italic;
}

.brand{
    display: flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    margin: 2px 0px 5px 2px;
    width: 1510px;
    height: 200px;
    /* box-shadow: 0px 0px 10px 0px black; */

}
.brand img{
    margin: 2px;
    width: 180px;
}

.footer{
    color: white;
    margin: 102px 2px 0px 2px;
    background-color: rgb(138, 136, 149);
}

.foot{
    font-size: 50px;
    text-align: center;
}

.footer p{
    font-size: 40px;
    text-align: center;
}

.peragraf{
    height: auto;
    margin: 20px 380px 25px 380px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(227, 68, 68);
    
}

.site_logo{
    margin: 0px 2px 2px 2px;
    display: flex;
    height: 300px;
    display: flex;
    padding-left: 0px;
   
    background-color: rgb(138, 136, 149);

  }

  .site_logo img{
    display: flex;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    
  }













